{{#*inline "head"}}
    <script>// This goes in the head</script>
{{/inline ~}}

{{#> layout title="Gallium Test"}}
    {{#markdown}}
        # Gallium Test
        This is a test of [Gallium](https://gitlab.com/pythondude325/gallium),
        my static site generator written in rust. It supports handlebars
        templates and markdown.

        Gallium build also supports adding projects in submodules. Here is my
        Groupchooser, included as a submodule: [Groupchooser](groupchooser)
    {{/markdown}}
{{/layout}}