<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/tachyons.min.css"/>
    {{~> head ~}}
</head>
<body class="sans-serif ma3 measure">
    {{~> @partial-block ~}}
</body>
</html>